.idea

node_modules

data/resources/glottolog.org/resourcemap.json
data/resources/glottolog.org/tree-glottolog-newick.txt

data/resources/naturalearthdata.com/ne_110m_admin_0_countries.dbf
data/resources/naturalearthdata.com/ne_110m_admin_0_countries.prj
data/resources/naturalearthdata.com/ne_110m_admin_0_countries.README.html
data/resources/naturalearthdata.com/ne_110m_admin_0_countries.shp
data/resources/naturalearthdata.com/ne_110m_admin_0_countries.shx
data/resources/naturalearthdata.com/ne_110m_admin_0_countries.VERSION.txt

data/resources/sil.org/iso-639-3-macrolanguages_20170131.tab
data/resources/sil.org/iso-639-3_20170202.tab
data/resources/sil.org/iso-639-3_Name_Index_20170217.tab
data/resources/sil.org/iso-639-3_Retirements_20170131.tab
