<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>LingoCharts!</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
<div id="app">
    <h1 id="contents"><a href="#contents">LingoCharts!</a></h1>
    <p>A language related data and charts. <br><i>Under construction.</i></p>

    <p v-if="!data"><i>Loading&hellip;</i></p>

    <div v-if="data" v-cloak>
        <ul>
            <li>
                Charts
                <ol>
                    <li><a href="#chart-usage">Usage</a></li>
                    <li><a href="#chart-extincted">Extincted</a></li>
                    <li><a href="#chart-literacy-population">Literacy &amp; population rank</a></li>
                </ol>
            </li>
            <li>
                Maps
                <ol>
                    <li><a href="#map">Map</a></li>
                    <li><a href="#map-population">Population</a></li>
                    <li><a href="#map-literacy">Literacy</a></li>
                    <li><a href="#map-population-literacy">Population &times; literacy</a></li>
                    <li><a href="#map-population-illiteracy">Population &times; illiteracy</a></li>
                    <li><a href="#map-gdp">GDP</a></li>
                    <li><a href="#map-gdp-population">GDP &divide; population</a></li>
                    <li><a href="#map-internet">Internet</a></li>
                    <li><a href="#map-mobile">Mobile</a></li>
                    <li><a href="#map-languages">Languages</a></li>
                    <li><a href="#map-regions">Regions</a></li>
                    <li><a href="#map-un">United Nations</a></li>
                    <li><a href="#map-eu">European Union</a></li>
                    <li><a href="#map-ez">Eurozone</a></li>
                    <li><a href="#map-419">Latin America</a></li>
                    <li><a href="#map-flag">Flag color</a></li>
                </ol>
            </li>
            <li>
                Tables
                <ol>
                    <li><a href="#countries">Countries</a></li>
                    <li><a href="#languages">Languages</a></li>
                    <li><a href="#scripts">Scripts</a></li>
                    <li><a href="#numbers">Numbers</a></li>
                    <li><a href="#families">Families</a></li>
                    <li><a href="#characters">Characters</a></li>
                    <li><a href="#groups">Groups</a></li>
                    <li><a href="#plurals">Plurals</a></li>
                    <li><a href="#ordinals">Ordinals</a></li>
                </ol>
            </li>
            <li>
                About
                <ul>
                    <li><a href="#notes">Notes</a></li>
                    <li><a href="#codes">Codes</a></li>
                    <li><a href="#links">Links</a></li>
                    <li><a href="#source-code">Source code</a></li>
                    <li><a href="#data-sources">Data sources</a></li>
                </ul>
            </li>
        </ul>

        <hr>
        <h2 id="chart-usage"><a href="#chart-usage">Usage</a></h2>
        <app-chart-bar x="title" sort="num" desc="true" :list="config.data.usage.filter(d => d.usage)"></app-chart-bar>

        <hr>
        <h2 id="chart-extincted"><a href="#chart-extincted">Extincted</a></h2>
        <app-chart-bar x="year" sort="year" :list="config.data.usage.filter(d => d.extinct && !isNaN(d.year) && !d.future)"></app-chart-bar>

        <hr>
        <h2 id="chart-literacy-population"><a href="#chart-literacy-population">Literacy &amp; population rank</a></h2>
        <app-chart-cloud></app-chart-cloud>

        <hr>
        <h2 id="map"><a href="#map">Map</a></h2>
        <app-map :value="d => config.data.map[d.id] ? config.data.map[d.id].color : 0"
                 :extent="d3.range(8)"
                 :scale="d3.scaleOrdinal()"
                 :color="d3.merge([['#000'], d3.schemePastel2.slice(0,7)])"></app-map>

        <hr>
        <h2 id="map-population"><a href="#map-population">Population</a></h2>
        <app-map field="population"></app-map>

        <hr>
        <h2 id="map-literacy"><a href="#map-literacy">Literacy</a></h2>
        <app-map :scale="d3.scaleLinear()"
                 field="literacy"></app-map>

        <hr>
        <h2 id="map-population-literacy"><a href="#map-population-literacy">Population &times; literacy</a></h2>
        <app-map
                :value="d => config.data.country[d.id].population * config.data.country[d.id].literacy / 100"></app-map>

        <hr>
        <h2 id="map-population-illiteracy"><a href="#map-population-illiteracy">Population &times; illiteracy</a></h2>
        <app-map :value="d => config.data.country[d.id].population * (100 - config.data.country[d.id].literacy) / 100"
                 :scale="d3.scaleLinear()"
                 :color="t => d3.interpolateRdYlGn(1-t)"></app-map>

        <hr>
        <h2 id="map-gdp"><a href="#map-gdp">GDP</a></h2>
        <app-map field="gdp"></app-map>

        <hr>
        <h2 id="map-gdp-population"><a href="#map-gdp-population">GDP &divide; population</a></h2>
        <app-map :value="d => config.data.country[d.id].gdp / config.data.country[d.id].population"></app-map>

        <hr>
        <h2 id="map-internet"><a href="#map-internet">Internet</a></h2>
        <app-map field="net"
                 :scale="d3.scaleLinear()"></app-map>

        <hr>
        <h2 id="map-mobile"><a href="#map-mobile">Mobile</a></h2>
        <app-map field="cell"></app-map>

        <hr>
        <h2 id="map-languages"><a href="#map-languages">Languages</a></h2>
        <app-map :value="d => Object.keys(config.data.country[d.id].language || {}).length"
                 :scale="d3.scaleLinear()"
                 :color="t => d3.interpolateRdYlGn(1-t)"></app-map>

        <hr>
        <h2 id="map-regions"><a href="#map-regions">Regions</a></h2>
        <app-map multi="_groupValue"></app-map>

        <hr>
        <h2 id="map-un"><a href="#map-un">United Nations</a></h2>
        <app-map
                :computed="d => config.data.group.UN.contains.indexOf(d.id) === -1 ? '#ccc' : d3.interpolateRdYlGn(1)"></app-map>

        <hr>
        <h2 id="map-eu"><a href="#map-eu">European Union</a></h2>
        <app-map
                :computed="d => config.data.group.EU.contains.indexOf(d.id) === -1 ? '#ccc' : d3.interpolateRdYlGn(1)"></app-map>

        <hr>
        <h2 id="map-ez"><a href="#map-ez">Eurozone</a></h2>
        <app-map
                :computed="d => config.data.group.EZ.contains.indexOf(d.id) === -1 ? '#ccc' : d3.interpolateRdYlGn(1)"></app-map>

        <hr>
        <h2 id="map-419"><a href="#map-419">Latin America</a></h2>
        <app-map
                :computed="d => !config.data.group['419'].contains.filter(e => config.data.group[e].contains.indexOf(d.id) !== -1).length ? '#ccc' : d3.interpolateRdYlGn(1)"></app-map>

        <hr>
        <h2 id="map-flag"><a href="#map-flag">Flag color</a></h2>
        <app-map :computed="d => '#' + config.data.country[d.id].color"></app-map>

        <hr>
        <sortable :list="data.country">
            <template slot="table" scope="props">
                <h2 id="countries"><a href="#countries">Countries</a> <span
                        class="items">({{props.list.length}})</span>
                </h2>
                <table style="margin-left: 3px">
                    <thead>
                    <tr>
                        <th class="click" @click="props.sort('color')">Flag</th>
                        <th class="click" @click="props.sort('id')">Code</th>
                        <th class="click" @click="props.sort('name')" style="width: 180px">Name</th>
                        <th>Wiki</th>
                        <th class="click" @click="props.sort('likely')">Likely</th>
                        <th class="click" @click="props.sort('population', true)">Population</th>
                        <th class="click" @click="props.sort('literacy', true)">Literacy</th>
                        <th class="click" @click="props.sort('gdp', true)">GDP</th>
                        <th class="click" @click="props.sort('net', true)">Internet</th>
                        <th class="click" @click="props.sort('cell', true)">Mobile</th>
                        <th class="click" @click="props.sort('currency')">Currency</th>
                        <th class="click" @click="props.sort(d=>(d._group[0]+''+d._group[1]))">Region</th>
                        <th class="nowrap">Language (population / literacy)
                            <br>
                            <small style="font-weight: normal">
                                <span>de facto official</span>,
                                <span class="single">official regional</span>,
                                <span class="double">official</span>,
                                <b>CLDR</b>
                            </small>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="i in props.list" :id="'country-' + i.id" :key="i.id">
                        <td :style="{'border-left': '3px solid #' + i.color}">
                            <flag :code="i.id" style="width: 32px; height: 32px"></flag>
                        </td>
                        <td><a :href="'#country-' + i.id">{{i.id}}</a></td>
                        <td><b>{{i.name}}</b></td>
                        <td><a class="icon icon-wikipedia-w" :href="'https://en.wikipedia.org/wiki/' + i.name"
                               target="_blank"></a></td>
                        <td class="nowrap">{{i.likely}}</td>
                        <td class="right">{{i.population | number}}</td>
                        <td class="right">{{i.literacy | percent}}</td>
                        <td class="right">{{i.gdp | money}}</td>
                        <td class="right">{{i.net | percent}}</td>
                        <td class="right">{{i.cell | percent}}</td>
                        <td>{{i.currency}}</td>
                        <td>{{data.group[i._group[1]].name}}</td>
                        <td class="nowrap">
                            <div v-for="(i, k) in i.language"><a :href="'#language-' + k"
                                                                 :class="{noline: 1, double: i.status === 0, single: i.status === 1, bold: i.cldr}">{{k}}</a>
                                ({{i.percent}}%{{i.literacy ? (' / ' + i.literacy) + '%' : ''}})
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </template>
        </sortable>

        <hr>
        <sortable :list="data.language">
            <template slot="table" scope="props">
                <h2 id="languages"><a href="#languages">Languages</a> <span
                        class="items">({{props.list.length}})</span></h2>

                <table>
                    <thead>
                    <tr>
                        <th class="click" @click="props.sort('id')">Code</th>
                        <th class="click" @click="props.sort('name')">Name</th>
                        <th>Wiki</th>
                        <th class="click" @click="props.sort('iso')">ISO</th>
                        <th class="click" @click="props.sort('gl')">Glottolog</th>
                        <th class="click" @click="props.sort('likely')">Likely</th>
                        <th class="click" @click="props.sort('cldr', true)">CLDR</th>
                        <th class="click" @click="props.sort('population', true)">Population</th>
                        <th class="click" @click="props.sort('literacy', true)">Literacy</th>
                        <th class="click" @click="props.sort('_rank')">Rank</th>
                        <th>Plural</th>
                        <th></th>
                        <th>Ordinal</th>
                        <th></th>
                        <th class="click" @click="props.sort('family')">Family</th>
                        <th class="click" @click="props.sort('num')">Numbers</th>
                        <th class="click" @click="props.sort('script')">Script</th>
                        <th>RTL</th>
                        <th class="click" @click="props.sort('quot', true)">Quotes</th>
                        <th>Sample</th>
                        <th class="click" @click="props.sort(i=>(i.chars>=0)?i.script+(i.chars+1):'')">Characters</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="i in props.list" :id="'language-' + i.id" :key="i.id">
                        <td class="nowrap"><a :href="'#language-' + i.id">{{i.id}}</a></td>
                        <td><b>{{i.name}}</b></td>
                        <td>
                            <a :href="'https://en.wikipedia.org/wiki/' + i.name + ' language'" target="_blank"
                               class="icon icon-wikipedia-w"></a>
                        </td>
                        <td><a :href="'http://www-01.sil.org/iso639-3/documentation.asp?id=' + i.iso3"
                               target="_blank">{{i.iso3}}</a></td>
                        <td><a :href="'http://glottolog.org/resource/languoid/id/' + i.gl" target="_blank">{{i.gl}}</a>
                        </td>
                        <td class="nowrap">{{i.likely}}</td>
                        <td>{{i.cldr | yes('CLDR')}}</td>
                        <td class="right">{{i.population | number}}</td>
                        <td class="right">{{i.literacy | percent}}</td>
                        <td :style="{'border-left': '3px solid ' + i._rankColor}">{{i._rank}}</td>
                        <td class="right"><span v-if="i.plural >= 0">{{data.plural[i.plural].forms.length}}</span></td>
                        <td><a v-if="i.plural >= 0" :href="'#plural-'+(i.plural + 1)">p{{i.plural + 1}}</a></td>
                        <td class="right"><span v-if="i.ordinal >= 0">{{data.ordinal[i.ordinal].forms.length}}</span>
                        </td>
                        <td><a v-if="i.ordinal >= 0" :href="'#ordinal-'+(i.ordinal + 1)">o{{i.ordinal + 1}}</a></td>
                        <td class="nowrap"><a :href="'#family-' + i.gl">{{data.family[i.family].name}}</a></td>
                        <td><a :href="'#number-'+i.num">{{i.num}}</a></td>
                        <td><a :href="'#script-'+i.script" v-if="data.script[i.script]">{{i.script}}</a><span v-else>{{i.script}}</span>
                        </td>
                        <td><span v-if="data.script[i.script]">{{data.script[i.script].rtl | yes('RTL')}}</span></td>
                        <td class="sample"><span v-if="data.quot[i.quot]">{{data.quot[i.quot]}}</span></td>
                        <td class="sample"><span v-if="data.script[i.script]">{{data.script[i.script].sample}}</span>
                        </td>
                        <td><a v-if="i.chars >= 0" :href="'#characters-' + i.script + (i.chars + 1) + i.id">{{i.script +
                            (i.chars +1)}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </template>
        </sortable>

        <hr>
        <sortable :list="data.script">
            <template slot="table" scope="props">
                <h2 id="scripts"><a href="#scripts">Scripts</a> <span
                        class="items">({{props.list.length}})</span></h2>

                <table>
                    <thead>
                    <tr>
                        <th>Sample</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Wiki</th>
                        <th>RTL</th>
                        <th>Cased</th>
                        <th>Line break letters</th>
                        <th>IME <a href="https://en.wikipedia.org/wiki/Input_method" target="_blank"
                                   class="icon icon-wikipedia-w"></a></th>
                        <th>Density</th>
                        <th>Characters</th>
                        <th>Origin</th>
                        <th>Language</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="i in props.list" :id="'script-' + i.id">
                        <td class="sample">{{i.sample}}</td>
                        <td><a :href="'#script-' + i.id">{{i.id}}</a></td>
                        <td><b>{{i.name}}</b></td>
                        <td>
                            <a :href="'https://en.wikipedia.org/wiki/' + i.name + ' script'" target="_blank"
                               class="icon icon-wikipedia-w"></a>
                        </td>
                        <td>{{i.rtl | yes('RTL')}}</td>
                        <td>{{i.cased | yes('cased')}}</td>
                        <td>{{i.lbl | yes('LBL')}}</td>
                        <td>{{i.ime | yes('IME')}}</td>
                        <td class="right">{{i.density}}</td>
                        <td class="right" v-if="i.chars">{{i.chars | number}}</td>
                        <td class="right" v-else>?</td>
                        <td><a :href="'#country-'+i.country">{{i.country}}</a></td>
                        <td><a :href="'#language-'+i.language">{{i.language}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </template>
        </sortable>

        <hr>
        <sortable :list="data.num">
            <template slot="table" scope="props">
                <h2 id="numbers"><a href="#numbers">Numbers</a> <span
                        class="items">({{props.list.length}})</span></h2>

                <table>
                    <thead>
                    <th>Sample</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Digits</th>
                    </thead>
                    <tbody>
                    <tr v-for="i in props.list" :id="'number-' + i.id">
                        <td class="sample">{{i.digits[8]}}</td>
                        <td><a :href="'#number-' + i.id">{{i.id}}</a></td>
                        <td><b>{{i.name}}</b></td>
                        <td>{{i.type}}</td>
                        <td>{{i.digits}}</td>
                    </tr>
                    </tbody>
                </table>
            </template>
        </sortable>

        <hr>
        <h2 id="families"><a href="#families">Families</a> <span
                class="items">({{items(data.family)}})</span></h2>

        <family :db="data" class="nowrap"></family>

        <hr>
        <sortable :list="data.language" :filter="i=>i.chars>=0">
            <template slot="table" scope="props">
                <h2 id="characters"><a href="#characters">Characters</a> <span
                        class="items">({{props.list.length}})</span></h2>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Language</th>
                        <th>Name</th>
                        <th>Population</th>
                        <th>Literacy</th>
                        <th>Numbers</th>
                        <th>Script</th>
                        <th>RTL</th>
                        <th>Quotes</th>
                        <th>Count</th>
                        <th style="min-width: 360px">Characters</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="i in props.list" :id="'characters-' + i.script + (i.chars + 1) + i.id">
                        <td>{{i.script + (i.chars + 1)}}</td>
                        <td class="nowrap"><a :href="'#language-' + i.id">{{i.id}}</a></td>
                        <td><b>{{i.name}}</b></td>
                        <td class="right">{{i.population | number}}</td>
                        <td class="right">{{i.literacy | percent}}</td>
                        <td><a :href="'#number-'+i.num">{{i.num}}</a></td>
                        <td><a :href="'#script-'+i.script"
                               v-if="data.script[i.script]">{{data.script[i.script].name}}</a></td>
                        <td><span v-if="data.script[i.script]">{{data.script[i.script].rtl | yes('RTL')}}</span></td>
                        <td class="sample"><span v-if="data.quot[i.quot]">{{data.quot[i.quot]}}</span></td>
                        <td class="right"><span
                                v-if="i.chars >= 0">{{data.char[i.script][i.chars].count | number}}</span></td>
                        <td>
                            <a class="expander" :class="{expanded: i.$chars}"
                               v-if="i.$chars || !i.$chars && (i.chars >= 0 && data.char[i.script][i.chars].chars.length > 600)"
                               @click="Vue.set(i, '$chars', !i.$chars)"></a>
                            <span class="chars" v-if="i.chars >= 0"
                                  v-text="data.char[i.script][i.chars].chars.substr(0, !i.$chars ? 600: undefined)"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </template>
        </sortable>

        <hr>
        <h2 id="groups"><a href="#groups">Groups</a></h2>

        <div v-for="(i, k) in groups">
            <h3 :id="'group-' + k">
                <a :href="'#group-' + k"><span style="font-weight: normal">{{k}}</span> {{data.group[k].name}}</a>
                <span
                        style="font-weight: normal; font-size: 16px">({{groups[k].items}})</span>
                <flag :code="k"
                      style="width: 32px; height: 32px; display: inline-block; position: relative; top: 10px; margin: -16px 0"></flag>
            </h3>
            <table class="merged">
                <tbody>
                <tr v-for="i in groups[k]" v-if="i[i.length -1]">
                    <td v-for="j in i" :rowspan="j.span" v-if="j && j.span" :class="{nowrap: data.group[j.id]}"
                        :style="{'min-width': !data.group[j.id] ? '480px' : null}">
                        <a :href="'#group-' + k + '-' + j.id" v-if="!j.data.group" :id="'group-' + k + '-' + j.id"
                           v-if="!j.data.group">{{j.id}}</a>
                        <b v-if="data.group[j.id]">{{data.group[j.id].name}}</b>
                        <span v-if="data.group[j.id]">({{j.items}})</span>
                        <span v-if="j.data.group" @click="Vue.set(j, 'expanded', !j.expanded)"
                              :class="{expander: true, expanded: j.expanded}"></span>
                        <span v-for="(l, n) in j.data.group"><a :href="'#country-' + l">{{l}}</a><span
                                v-show="j.expanded"> {{data.country[l].name}}</span><span
                                v-if="(n + 1) < j.data.group.length">, </span></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <h2 id="plurals"><a href="#plurals">Plurals</a></h2>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Count</th>
                <th>Forms</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(i, k) in data.plural" :id="'plural-' + (k + 1)">
                <td><a :href="'#plural-' + (k + 1)">p{{k + 1}}</a></td>
                <td>{{i.forms.length}}</td>
                <td><span v-for="(j, k) in i.forms">{{data.form[j]}}<span
                        v-if="(k + 1) < i.forms.length">, </span></span>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h2 id="ordinals"><a href="#ordinals">Ordinals</a></h2>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Count</th>
                <th>Forms</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(i, k) in data.ordinal" :id="'ordinal-' + (k + 1)">
                <td><a :href="'#ordinal-' + (k + 1)">o{{k + 1}}</a></td>
                <td>{{i.forms.length}}</td>
                <td><span v-for="(j, k) in i.forms">{{data.form[j]}}<span
                        v-if="(k + 1) < i.forms.length">, </span></span>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h2 id="notes"><a href="#notes">Notes</a></h2>

        <p>Most data come from CLDR see <a href="#data-sources">Data sources</a> section.</p>
        <p>Only languages with <i class="double">official</i>, <i class="single">regional official</i> and <i>de
            facto
            official</i> status are included.</p>

        <hr>
        <h2 id="codes"><a href="#codes">Codes</a></h2>

        <p>Used in <b>language</b>-<b>Script</b>-<b>COUNTRY</b> form.</p>

        <table class="merged">
            <thead>
            <tr>
                <th>Type</th>
                <th>Iso</th>
                <th>Case</th>
                <th>Letters</th>
                <th>Sample</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2">Language</td>
                <td><a href="https://en.wikipedia.org/wiki/ISO_639-1" target="_blank">ISO 639-1</a></td>
                <td>lower</td>
                <td class="right">2</td>
                <td><a href="#language-cs">cs</a></td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/ISO_639-3" target="_blank">ISO 639-3</a></td>
                <td>lower</td>
                <td class="right">3</td>
                <td><a href="http://www-01.sil.org/iso639-3/documentation.asp?id=ces" target="_blank">ces</a></td>
            </tr>
            <tr>
                <td>Script</td>
                <td><a href="https://en.wikipedia.org/wiki/ISO_15924" target="_blank">ISO 15924</a></td>
                <td>Capitalized</td>
                <td class="right">4</td>
                <td><a href="#script-Latn">Latn</a></td>
            </tr>
            <tr>
                <td>Country</td>
                <td><a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1
                    alpha-2</a>
                </td>
                <td>UPPER</td>
                <td class="right">2</td>
                <td><a href="#country-CZ">CZ</a></td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h2 id="links"><a href="#links">Links</a></h2>

        <table class="merged">
            <thead>
            <tr>
                <th>Source</th>
                <th>Type</th>
                <th>Samples</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Wikipedia</td>
                <td>external</td>
                <td><a href="https://en.wikipedia.org/wiki/Czech%20language" target="_blank"
                       class="icon icon-wikipedia-w"></a></td>
                <td>Search links made from names. <br><b>Warning:</b> may be misleading!</td>
            </tr>
            <tr>
                <td rowspan="2">Glottolog</td>
                <td rowspan="2">external</td>
                <td><a href="http://glottolog.org/resource/languoid/id/czec1258" target="_blank">czec1258</a></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td><a href="http://glottolog.org/resource/languoid/id/czec1258" target="_blank" class="glot icon"
                       style="margin-top: -5px;"></a>
                </td>
            </tr>
            <tr>
                <td>ISO 639-3</td>
                <td>external</td>
                <td><a href="http://www-01.sil.org/iso639-3/documentation.asp?id=ces" target="_blank">ces</a></td>
                <td></td>
            </tr>
            <tr>
                <td>Ethnologue</td>
                <td>external</td>
                <td><a href="https://www.ethnologue.com/language/ces" target="_blank" class="eth icon"
                       style="margin-top: -5px;"></a></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="3"><i>this application</i></td>
                <td rowspan="2">internal</td>
                <td><a href="#language-cs">cs</a></td>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <td><a href="#language-cs" class="noline double bold">cs</a></td>
            </tr>
            <tr>
                <td>external</td>
                <td><a href="http://cldr.unicode.org/" target="_blank">http://cldr.unicode.org/</a></td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h2 id="source-code"><a href="#source-code">Source code</a></h2>
        <p>
            Releases under <a :href="config.repo + 'blob/master/LICENSE'" target="_blank">MIT license</a> on GitHub:
            <a
                    href="https://github.com/darosh/lingocharts"
                    target="_blank">https://github.com/darosh/lingocharts</a>.
        </p>
        <p>
            Live application: <a :href="config.url" target="_blank">{{config.url}}</a>.
        </p>

        <h3 id="source-code-data"><a href="#source-code-data">Data</a></h3>

        <p>Available in <a href="https://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a> and <a
                href="https://en.wikipedia.org/wiki/Tab-separated_values" target="_blank">TSV</a> format. <b>Bold
            items</b> in table bellow are used in this application. Served via <a
                href="https://help.github.com/categories/github-pages-basics/" target="_blank">GitHub Pages</a>
            directly from master branch.</p>

        <table class="no-bold-th-body">
            <thead>
            <tr>
                <th>Source</th>
                <th>JSON</th>
                <th>TSV</th>
                <th>SVG</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><a :href="config.repo +  'blob/master/data/index.json'" target="_blank">index</a></th>
                <td><a :href="'./data/index.json'" target="_blank"><b>index.json</b></a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th><a :href="config.repo +  'blob/master/data/map.topo.json'" target="_blank">map.topo</a></th>
                <td><a :href="'./data/map.topo.json'" target="_blank"><b>map.topo.json</b></a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th><a :href="config.repo +  'blob/master/data/flags.svg'" target="_blank">flags</a></th>
                <td></td>
                <td></td>
                <td><a :href="'./data/flags.svg'" target="_blank"><b>flags.svg</b></a></td>
            </tr>
            <tr v-for="(i, k) in data">
                <th><a :href="config.repo +  'blob/master/data/json/' + k + '.json'" target="_blank">{{k}}</a></th>
                <td><a :href="'./data/json/' + k + '.json'" target="_blank">{{k}}.json</a></td>
                <td><a :href="'./data/tsv/' + k + '.tsv'" target="_blank">{{k}}.tsv</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h2 id="data-sources"><a href="#data-sources">Data sources</a></h2>

        <div v-for="(i, k) in data.version">
            <h3 :id="'data-source-' + k"><a :href="'#data-source-' + k">{{i.name}}</a></h3>
            <p v-if="i.notes">{{i.notes}}</p>
            <ul>
                <li>version: {{i.version}} {{i.build}}</li>
                <li>home: <a :href="i.home" target="_blank">{{i.home}}</a></li>
                <li v-if="i.source">source: <a :href="i.source" target="_blank">{{i.source}}</a></li>
                <li v-if="i.api">api:
                    <ul>
                        <li v-for="j in i.api"><a :href="j" target="_blank">{{j}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<script id="template-family" type="text/html">
    <ul v-if="nd && nd.id" class="family">
        <span v-if="nd.depth !== 0 && nd.children" @click="expanded = !expanded"
              :class="{expander: true, expanded: expanded}"></span>
        <span v-else-if="(nd.depth > 0) && !nd.children" class="bullet"></span>
        <a :href="'#family-' + nd.id" :id="'family-' + nd.id">
            <b v-if="nd.depth === 1">{{nd.data.data.name}}</b>
            <span v-else-if="nd.data && nd.data.data">{{nd.data.data.name}}</span>
        </a>
        <span v-if="nd.depth && nd.children">({{nd.leaves().length}})</span>
        <a v-if="(expanded || !nd.children) && nd.depth > 0"
           :href="'http://glottolog.org/resource/languoid/id/' + nd.data.id"
           target="_blank" class="icon glot"></a>
        <a v-if="(expanded || !nd.children) && nd.data && nd.data.data && nd.data.data.iso3"
           :href="'https://www.ethnologue.com/language/' + nd.data.data.iso3" target="_blank" class="icon eth"></a>
        <a v-if="(expanded || !nd.children) && nd.data && nd.data.data && nd.data.data.name"
           :href="'https://en.wikipedia.org/wiki/' + nd.data.data.name + (!nd.children ? ' language' : '')"
           target="_blank" class="icon icon-wikipedia-w"></a>
        <a v-if="(expanded || !nd.children) && nd.data && nd.data.data && nd.data.data.iso23"
           :href="'#language-' + nd.data.data.iso23">{{nd.data.data.iso23}}</a>
        <li v-for="i in nd.children" :style="{display: (expanded || nd.depth === 0) ? null : 'none'}">
            <family :node="i" class="tree"></family>
        </li>
    </ul>
</script>
<script src="//unpkg.com/d3@4.7.4/build/d3.min.js"></script>
<script src="//unpkg.com/d3-scale-chromatic@1.1.1/build/d3-scale-chromatic.min.js"></script>
<script src="//unpkg.com/topojson-client@3.0.0/dist/topojson-client.min.js"></script>
<script src="//unpkg.com/vue@2.2.6/dist/vue.min.js"></script>
<!--<script src="//unpkg.com/vue@2.2.6/dist/vue.js"></script>-->
<script src="./assets/data.js"></script>
<script src="./assets/app.js"></script>
</body>
</html>
